<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Gemstones&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
     <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre"> </a>
        </div>
        <div class="busqueda">
            <input type="search" placeholder="Buscar productos, marcas...">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>   
        </div>
        <p class="compras"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="lista-superior">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="lista-inferior">
                <li><a href="">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="home__productos">
        <img class="banner" src="/images/img-home-banner.jpg" alt="Baneer ofertas" width="100%">
        <section class="home__seccion-productos">
            <h4 class="seccion__productos--titulo">Basado en tu ultima visita</h4>
            <article class="seccion__productos--tarjetas">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="100%">
                <p class="precio">$6.770</p>
                <p class="descuento">40% offf</p>
                <h5 class="descripcion">Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <p class="precio">$230.000</p>
                <p class="descuento">20% offf</p>
                <h5 class="descripcion">MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <p class="precio">$70.500</p>
                <p class="descuento">10% offf</p>
                <h5 class="descripcion">Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <p class="precio">$23.200</p>
                <p class="descuento">5% offf</p>
                <h5 class="descripcion">SmartTv Samsung 43"</h5>
            </article>
        </section>
        <section>
            <h4>Sección ofertas</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="100%">
                <p class="precio">$6.770</p>
                <p class="descuento">40% offf</p>
                <h5 class="descripcion">Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <p class="precio">$230.000</p>
                <p class="descuento">20% offf</p>
                <h5 class="descripcion">MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <p class="precio">$70.500</p>
                <p class="descuento">10% offf</p>
                <h5 class="descripcion">Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <p class="precio">$23.200</p>
                <p class="descuento">5% offf</p>
                <h5 class="descripcion">SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
         <p>Copyright ©️ 1999-2022 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
